.navLink {
    color: #FFFFFF ;
    text-decoration: none;
    font-weight: normal;
    padding: .5rem;
    font-size: normal;
    width: 200px;
    text-align: center;
}
.navLink:hover{
    font-weight: bold;
}
.dropdownLink .nav-link{
    color: #FFFFFF ;
    text-decoration: none;
    font-weight: normal;
    font-size: normal;
    width: 200px;
    text-align: center;
}
.dropdownLink .nav-link:hover{
    color: #FFFFFF ;
    font-weight: bold;
}

.dropdownLink .nav-link:focus{
    color: #FFFFFF ;
}
