.navLink {
    color: #EEF0F3 ;
    text-decoration: none;
    font-weight: 500;
    padding: .5rem;
}
.navLink:hover{
    color: #133776;
    border: 1px solid lightgrey;
    border-radius: 5%;
    background: #EEF0F3;
}
.dropdownLink{
    color: #EEF0F3 ;
    text-decoration: none;
    font-weight: 500;
}
.dropdownLink:hover{
    color: #133776;
    border: 1px solid lightgrey;
    border-radius: 5%;
    background: #EEF0F3;
}